.main{
    padding: 0;
    border: none;
    border-top: medium double #888;
    color: #888;
    text-align: center;
}
.main:after{
    content: "";
    display: inline-block;
    position: relative;
    background: url('../images/logo-small.bmp') center center no-repeat;
    background-size: 25px;
    height: 30px; width: 30px;
    top: -1.1em;
    padding: 0;
}
.navbar-default{
  border-color: white; background-color: white;
}
.navbar-default .navbar-nav>li>a:hover, .dropdown-menu>li>a:hover{
  background-color: #006eb6;
  color:white;
}
/*.blog-post { display: none; }
.blog-post:target { display: block; }*/

.blog-post, .blog-post:target ~ #avis{
  display: none;
}
#avis, .blog-post:target {
  display: block;
}
/* footer */
footer{
  background-color: #333;
  padding: 15px 0 35px;
  color: white;
  text-align: center;
}
.footer_link, .footer_link:hover{
  color: white;
}
.footer p{
  margin: 0;
  font-size: 13px;
}
.footer hr{
  border-color: #333;
  margin: 15px 0;
}
/* fb button */
.fa-lg{
  color: white;
}
.fa-lg:hover{
  color: #ffffff;
}
.fa-lg:hover > .fa-square-o{ 
  color: #3b5998;
}
.social{
	padding-top: 6px;
}
/* /footer

   main */
.blog-post{
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0 50px;
}
.blog-post h4{
  margin: 20px;
  font-size: 16px;
}
.blog-post h2{
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #232323;
}
.blog-post p{
  font-size: 14px;
  padding: 0 0 1em;
  text-align: justify;
  margin-bottom: 0;
}
#storia_img{
  max-width: 100%;
  box-shadow: 2px 2px 1px #888;
}
.blog-post ul{
  font-size: 14px;
  margin-bottom: 15px;
  list-style-type: none;
}
.backtop{
  margin-top:25px;
}
/* contatti */
.Flexible-container{  
  box-shadow: 2px 2px 1px #888;
  margin-bottom: 50px;
  width: 100%;
}
.contacts p{
  margin:0;
}
.fa-facebook-square, .fa-youtube-play, .fa-twitter-square, .fa-instagram{
  color: #2e2e2e;  
  margin-top: 5px;
}
.fa-facebook-square:hover{color: #3b5998;}
.fa-youtube-play:hover{color: #bb0000;}
.fa-twitter-square:hover{color: #00aced;}
.fa-instagram:hover{color: #125688;}

/* sospensioni */
.sospensioni_btn{
  text-align: center;
  margin:50px 0 150px;
}
#motivi_principali,#malaria,#malattie_tropicali,#farmaci{
  margin-top: 75px;
  font-weight: 700;
}
.sidebar{
  margin-top: 50px;
  text-align: center;
}
.become_donor{
  background: rgb(0, 0, 0);
  position: relative;
  width: 100%;
}
.become_donor img{
  width: 100%;
  opacity: 0.8;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.become_donor img:hover{
  opacity: 1;
}
.become_donor h3{
  text-align: left;
  position: absolute; 
  top: 100px; 
  left: 5px; 
  width: 100%;
  color: #ecf0f1;
  text-shadow: 0.1em 0.1em 0.05em #333;
  pointer-events:none;
}
.cinquexmille{
  margin: 10px 0;
  border: dashed 4px #006eb6;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.cinquexmille:hover{
  opacity: 1;
}
#statistiche, #statistiche p{
  text-align: center;
}
#statistiche p{
  padding-top: 25px;
}
.serviziociv{
  width: 75%;
}
.cinquemille{
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin:35px 0;
}
.cinquemille:after {
  content: "80006450292";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}