.newBlog {

	&__container {
	width: 100%;
	padding: 10px;
	@include for-tablet-portrait-up {
		display: flex;
		padding: 20px;
	}
	}

	&__form {
		width: 100%;
		padding: 10px;

		@include for-tablet-portrait-up {
        width: 50%;
				padding: 20px;
        }
	}
	&__preview {
		width: 100%;
		padding: 10px;

		@include for-tablet-portrait-up {
        width: 50%;
				padding: 20px;
        }
	}

	&__banner {
		font-size: 46px;
		font-weight: 300;
		color: white;
		background: $color_blue;
		padding: 10px;
		width: 100%;
		}

	&__subhead {
		font-size: 30px;
		font-weight: 300;
		color: $color_blue;
		margin: 0 0 20px 5px;

		&--sm {
			font-size: 18px;
			margin-bottom: 10px;
			display: inline-block;
		}
	}

	&__title {
    font-size: 26px;
    color: $color_blue;
    line-height: .9;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 0px;
   }

  &__img {
	  max-width: 100%;
	  height: auto;
	  margin: 0 0 20px 0;
	  border: 1px solid $color_gray_text;

	  &--modal {
	  	max-height: 35vh;
	  	width: auto;
	  	max-width: 100%;
	  	margin: 0 auto 10px auto;
	  	display: block;
      }
	  }

	&__body {
	margin-bottom: 20px;
	line-height: 1.5em;

	& ul, & ol {
		margin-left: 1.5em;
	}

	& p, & ul, & ol {
		margin-bottom: .8em;
	}

	& h3, & h4 {
		margin-bottom: .5em;
	}

	& h3 {
		font-size: 1.25em;
	}

	& h4 {
		font-size: 1.1em;
	}

	& img {
		max-width: 100%;
		height: auto;
	}
}

	&__editor {
		margin-left: 6px;
		width: 100%;
	}

	&__wrapper {
		margin-left: 5px;
	}

	&__fileUploadWrap {
		position: relative;
		overflow: hidden;
		display: inline-block;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin: 0 20px 0 0;

		&:hover, &-active, &:focus {
					background: $color_blue-lighter;
					transition: all 180ms ease-in-out;
					outline: none;
					border: none;
			}
	}

	&__uploadBtn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);

		&:hover, &-active, &:focus {
					background: $color_blue-lighter;
					transition: all 180ms ease-in-out;
					outline: none;
					border: none;
			}
	}

	&__img-upload-progress {
		margin-left: 20px;
		transition: all 180ms ease-in-out;
	}

	&__img-upload-success {
		margin: 0 auto 10px auto;
		text-align: center;
	}

	&__button {
			background: $color_blue;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 300;
			font-size: .75em;
			text-align: center;
			text-decoration: none !important;
			padding: 8px 12px;
			margin: 0 0 20px 5px;
			appearance: none;
			-webkit-appearance: none;
			border: none;

			&--featured {
				display: inline-block;
				margin-left: 10px;
				cursor: pointer;

			}

			&:hover, &-active, &:focus {
					background: $color_blue-lighter;
					transition: all 180ms ease-in-out;
					outline: none;
					border: none;
			}
		}

		&__cancel {
			margin-left: 20px;
			background: $color_red;
			&:hover, &-active, &:focus {
					background: $color_red-lighter;
			}
		}
}

