.faq {
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
						color: $color_gray_text;

		&__container {

		}

		&__masonry {
			-webkit-column-gap: 0;
     	-moz-column-gap: 0;
      column-gap: 0;
  		position: relative;
  		padding: 20px 10px 10px 10px;

			@include for-phone-landscape-up {
				-webkit-column-count: 2;
       	-moz-column-count: 2;
        column-count: 2;
				}

			@include for-tablet-portrait-up {
				-webkit-column-count: 3;
       	-moz-column-count: 3;
        column-count: 3;
				}
		}

		&__card {
			padding: 20px;
			border: 1px solid $color_gray_lighter;
			margin: 20px 10px;
			-moz-column-break-inside:avoid;
			-webkit-column-break-inside:avoid;
			column-break-inside:avoid;

			&:first-child {
				margin: 0 10px 20px 10px;
			}

				@include for-phone-landscape-up {

				}

				@include for-tablet-portrait-up {

				}

		}

		&__title {
				font-size: 26px;
				color: $color_blue;
				line-height: .9;
				font-weight: 300;
				margin-bottom: 20px;

		}

		&__img {
				max-width: 100%;
				height: auto;
				margin: 20px 0 10px 0;
				border: 1px solid $color_gray_text;

				&--thumb {
						width: 100px;
						height: auto;
				}

		}

		&__meta {
				padding: 10px 0 20px 0;
				text-transform: uppercase;
				font-size: .75em;
				letter-spacing: 1px;
		}

		&__body {
				line-height: 1.5em;

				& ul, & ol {
					margin-left: 1.5em;
				}

				& p, & ul, & ol {
					margin-bottom: .8em;
				}

				& h3, & h4 {
					margin-bottom: .5em;
				}

				& h3 {
					font-size: 1.25em;
				}

				& h4 {
					font-size: 1.1em;
				}

				& img {
					max-width: 100%;
					height: auto;
				}
		}

		&__excerpt {
			display: block;
			display: -webkit-box;
			height: ($font-size*$line-height*$lines-to-show)-3; /* Fallback for non-webkit */
			font-size: $font-size;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
				}

		&__button {
			background: $color_red;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 300;
			font-size: .75em;
			text-align: center;
			text-decoration: none !important;
			padding: 8px 12px;
			margin-top: 20px;

				&:hover, &-active {
						background: $color_red-lighter;
						transition: all 180ms ease-in-out;
				}
		}

}