.footer {
    padding: 20px 0;
    background: $color_blue;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    &__image {
        height: 55px;
        margin: 0 10px;
    }
    &__text {
        font-size: .75em;
        padding: 10px 0 0 12px;
        @include for-tablet-portrait-up {
        padding: 0 0;
        }
    }
    &__link {
        display: inline-block;
        padding-bottom: 3px;
        color: white;
        text-decoration: none;
        &:hover {
            color: $color_blue-lightest;
            border-bottom: 1px dotted $color_blue-lightest;
        }
    }
    &__icon-container {
        display: flex;
    }
    &__icon {
        padding: 14px 0 0 15px;
        opacity: .6;
        color: white;
        font-size: 2em;
        &:hover {
            opacity: 1;
        }
    }
}
