.gallery-footer {
  &__img-container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__thumbnail {
    max-width:80%;
    max-height:80%;
    display: block;
    margin: 0 auto;
  }
}