.login {

 &__container {
 	width: 100%;
 	max-width: 480px;
 	margin: 10% auto;
 	border: 1px solid $color_gray_lighter;
 }

 &__form {
 	width: 100%;
 	padding: 20px;
 }

 &__input {
 	margin: 20px 0 !important;
}

&__button-wrap {
	display: flex;
	justify-content: center;
}

}