.sg {
  &__image-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__gallery-image {
    max-width: 200px;
    margin: 0 10px 30px 10px;
    box-shadow: -4px 4px 4px #888;
  }

  &__title {
    text-align: center;
    font-size: 48px;
    color: $color_blue;
    line-height: .9;
    font-weight: 300;
    margin-bottom: 10px;
    @include for-tablet-landscape-up {
    }
  }

  &__meta {
    text-align: center;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 1px;
  }
}
