$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import 'modules/media-queries';
@import 'modules/vars';

@import 'modules/about';
@import 'modules/welcome';
@import 'modules/navbar';
@import 'modules/stats';
@import 'modules/footer';
@import 'modules/contatti';
@import 'modules/update-stats';
@import 'modules/create-blog';
@import 'modules/quill-overrides';
@import 'modules/recent-blogs';
@import 'modules/single-post';
@import 'modules/blogs-index';
@import 'modules/dashboard';
@import 'modules/modal';
@import 'modules/form';
@import 'modules/create-gallery';
@import 'modules/faq';
@import 'modules/_single-gallery';
@import 'modules/breadcrumbs';

@import 'quill.snow';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  overflow-x: hidden;
}

.main {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-weight: 300;
  padding-top: 120px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 3px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 90%;
}

.note {
  color: gray;
  margin: 8px 0;
}

input.active:valid {
  border: 1px solid green;
}

input.active:invalid {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.uploader {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.img_test {
  border: 1px solid black;
}

.center {
  text-align: center;
}
